.form-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.email-input {
  width: 100%;
   /* This will make the email field take the full width */
}

.small-input {
  width: 85%; 
  align-items: center;
  margin-left:30px;/* Adjust size of the first three input fields */
}

.form-group-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form-group-row .form-group {
  flex: 1;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
  text-align: left;
  width: 100%; /* Make sure label takes full width */
  margin-left: 30px; /* Ensure label is at the left corner */
  margin-right: 0;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.user-table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

.user-table table {
  width: 100%;
  border: 1px solid #ddd;
}

.user-table th, .user-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.user-table tr:hover {
  background-color: #f1f1f1;
}
